<div class="container mt-5 scale-in-right">
  <div class="row mt-5">
    <h1 class="mt-5 pt-5 text-center fw-bolder">
      "Tutto Quello che Devi Sapere"
    </h1>
    <p class="text-center fw-semibold fs-5 mt-3">
      Abbiamo selezionato solo alcune delle domande che ci arrivano.Non esitare
      a contattarci per ogni altro interrogativo! Siamo qui per rispondere a
      tutte le tue curiosità.
    </p>
  </div>
  <div class="row mx-3">
    <div class="card my-3">
      <div class="d-flex">
        <div class="pall"></div>
        <h5 class="card-header">Questions</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">L'intervento è doloroso?</h5>
        <p class="card-text">
          L’intervento è assolutamente indolore. L’unico momento poco piacevole
          è la fase dell’anestia ma, se vuoi, puoi scegliere una nuova anestia
          totalmente indolore.
        </p>
      </div>
    </div>
    <div class="card my-3">
      <div class="d-flex">
        <div class="pall2"></div>
        <h5 class="card-header">Questions</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">Come mai il prezzo è così basso?</h5>
        <p class="card-text">
          In italia putroppo il costo del trapianto si aggira attormo ai 5500€,
          questo è dovuto a costi di gestione altissimi, pressione fiscale più
          alta di tutta l’europa e di conseguenza stipendi e gestione struttura
          onerosi. Tutto questo si riflette sul prezzo finale. Spostando
          l’operazione in Albania si dimezzano i costi ma senza rinunciare
          all’affidabilità e professionalità.
        </p>
      </div>
    </div>
    <div class="card my-3">
      <div class="d-flex">
        <div class="pall"></div>
        <h5 class="card-header">Questions</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">Quanto dura la preparazione all'intervento?</h5>
        <p class="card-text">
          Solo una settimana. Nello specifico bisogna sospendere cure in corso
          ed assunzione di farmaci. Prima di procedere bisogna conoscere bene le
          proprie condizioni di salute (allergie, patologie pregresse, ecc),
          comunque in clinica saranno effettuati analisi del sangue per
          assicurare l’assenza di HIV – HCV ed altre malattie infettive.
        </p>
      </div>
    </div>
    <div class="card my-3">
      <div class="d-flex">
        <div class="pall2"></div>
        <h5 class="card-header">Questions</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">Il risultato è garantito?</h5>
        <p class="card-text">
          Risultati assicurati grazie alla garanzia che viene rilasciata alla
          fine del trattamento. La garanzia assicura che non avrai nessun
          effetto collaterale causato dall’intervento e la ricrescita dei
          capelli trapiantati entro 12 mesi. Se ciò non avviene ti sarà ripetuto
          l’intervento gratuitamente.
        </p>
      </div>
    </div>
    <div class="card my-3">
      <div class="d-flex">
        <div class="pall"></div>
        <h5 class="card-header">Questions</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">I capelli trapiantati si possono tagliare?</h5>
        <p class="card-text">
          I capelli trapiantati sono presi dal paziente stesso. Alla fine del
          periodo di Post-Intervento i capelli cresceranno normalmente come gli
          altri. Quindi si possono tagliare.
        </p>
      </div>
    </div>
    <div class="card my-3">
      <div class="d-flex">
        <div class="pall2"></div>
        <h5 class="card-header">Questions</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">Quanto dura l'intervento?</h5>
        <p class="card-text">
          L’intervento ha una durata variabile a seconda del numero di bulbi da
          innestare. Comunque l’intervento sarà svolta in un’unica giorno. UNICA
          SEDUTA con il MASSIMO IMPIANTO. .
        </p>
      </div>
    </div>
    <div class="card my-3">
      <div class="d-flex">
        <div class="pall"></div>
        <h5 class="card-header">Questions</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">L'importo è detraibile fiscalmente?</h5>
        <p class="card-text">
          I costi del trapianto di capelli non sono detraibili fiscalmente. Le
          uniche spese medico-sanitarie detraibili nel nostro ordinamento sono
          quelle che fanno capo ad esigenze inerenti la salute del paziente.
          Questo a meno che non si riesca a provare che l’intervento sia servito
          a risolvere un problema psicologico nato dalla calvizia.
        </p>
      </div>
    </div>
    <div class="card my-3">
      <div class="d-flex">
        <div class="pall2"></div>
        <h5 class="card-header">Questions</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">Ho un Tutor che mi accompagna?</h5>
        <p class="card-text">
          Noi di DreamHairImplant ti seguiamo durante tutto il percorso. Non
          sarai mai lasciato solo. Dall’arrivo fino alla parteza ci sarà un
          nostro incaricato che vi guiderà durante tutto il vostro viaggio di
          bellezza.
        </p>
      </div>
    </div>
    <div class="card my-3">
      <div class="d-flex">
        <div class="pall"></div>
        <h5 class="card-header">Questions</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">Dopo quanto tempo vedrò i primi risultati?</h5>
        <p class="card-text">
          I capelli trapiantati durante il primo mese cadranno, ma questo è
          normale. Tre mesi dopo inizieranno a crescere in maniera permanente.
          Dopo odici mesi dopo l’intervento si potrà vedere il risultato finale.
        </p>
      </div>
    </div>
    <div class="card my-3">
      <div class="d-flex">
        <div class="pall2"></div>
        <h5 class="card-header">Questions</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          Si noterà una riduzione del capello nella zona donatrice?
        </h5>
        <p class="card-text">
          Non si noterà alcuna riduzione di densità del capello nella zona
          donatrice, fino a metà dei capelli di questa zona possono essere
          estratti in maniera sicura con la nostra tecnica MicroFue. Anche nei
          pazienti che soffrono di una grave perdita dei capelli si possono
          estrarre dai 5.000 ai 6.000 innesti dalla zona donatrice.
        </p>
      </div>
    </div>
    <div class="card my-3">
      <div class="d-flex">
        <div class="pall"></div>
        <h5 class="card-header">Questions</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">Esiste un limite di età per l'intervento?</h5>
        <p class="card-text">
          Non esiste limite un’età per il trapianto, ma essenzialmente devono
          esserci le condizioni necessarie al trapianto. Comunque, in genere,
          non si consiglia il trapianto prima dei 22 anni poiché il processo di
          caduta del capello sarebbe ancora ad uno stadio iniziale.
        </p>
      </div>
    </div>
    <div class="card my-3">
      <div class="d-flex">
        <div class="pall2"></div>
        <h5 class="card-header">Questions</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">Esiste un altro rimedio oltre il trapianto?</h5>
        <p class="card-text">
          I trattamenti medici aiutano a ritardare l’avanzamento della calvizie,
          agiscono sulle radici debilitate dall’azione ormonale e sono efficaci
          a medio e lungo termine. Ciò nonostante non esiste trattamento medico
          che faccia nascere capelli nuovi da radici ormai morte, solamente un
          trapianto di capelli sarà efficace in questa situazione.
        </p>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <h3 class="text-center">Cosa bisogna fare</h3>
    <h5 class="text-center fs-6">Prima & Dopo</h5>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <h3 class="text-center mt-4">Prima del Trapianto</h3>
      <p class="p-3">
        Nei giorni antecedenti il trapianto di capelli, occorrerà evitare
        l’assunzione di aspirine e di farmaci anticoagulanti che contribuiscono
        alla diluizione del sangue. In generale si consiglia di rallentare con
        l’assunzione di caffè, fumo e qualsiasi altra sostanza eccitante, avendo
        cura di presentarsi all’intervento adeguatamente rilassati e riposati.
      </p>
      <ul>
        <li>
          Evitare di assumere aspirina nei 15 giorni precedenti l’intervento
        </li>
        <li>
          Evitare di assumere alcool nei due giorni precedenti l’intervento
        </li>
        <li>Lavare accuratamente la testa la sera prima dell’intervento</li>
        <li>Cercare di arrivare all’intervento rilassati</li>
        <li>Esami del sangue (già previsti nel nostro pacchetto)</li>
        <li>Fare una colazione leggera la mattina dell’intervento</li>
        <li>
          Indossare una camicia o maglia con zip davanti, per svestirsi senza
          toccare la testa
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-6">
      <h3 class="text-center mt-4">Dopo il Trapianto</h3>
      <p class="p-3">
        Nei giorni successivi all’intervento bisognerà imparare a convivere con
        dei piccoli fastidi, con un leggero indolenzimento, prurito, ed
        impossibilità di dormire normalmente appoggiando la testa sul cuscino...
        Ma questi fastidi scompariranno velocemente, ed occorrerà rispettare una
        serie di regole di buon senso.
      </p>
      <ul>
        <li>Assumere accuratamente i medicinali forniti dal nostro staff</li>
        <li>
          ELIMINARE il caffè (ed altri vasocostrittori…) nei primi 7 giorni
        </li>
        <li>Iniziare con in lavaggi due giorni dopo l’intervento</li>
        <li>
          EVITARE il gettito forte di acqua della doccia… Usare un gettito molro
          blando
        </li>
        <li>EVITARE di grattare o applicare ghiaccio nella zona trapiantata</li>
        <li>
          EVITARE att. sportiva, sforzi bruschi e forte sudorazione per i primi
          30 giorni
        </li>
        <li>
          EVITARE il mare e bagni di sole per i primi 60 giorni (anche 90…)
        </li>
        <li>
          Tinture dei capelli, gel ed altre sostanze chimiche: dopo 90 giorni
        </li>
      </ul>
    </div>
  </div>
</div>
