<div
  class="container h-100 p-5 mt-5 d-flex justify-content-center align-items-center"
>
  <div
    class="row p-4 pb-0 pe-lg-0 mt-5 align-self-center rounded-3 border shadow-lg scale-in-left"
  >
    <div
      class="col-md-6 d-flex flex-column justify-content-center align-items-center"
    >
      <h1 class="display-4 mt-5 fw-bold lh-1 text-body-emphasis text-center">
        Trapianto con tecnica FUE
      </h1>
      <p class="lead text-center">La soluzione definitiva contro la calvizie</p>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img
        class="rounded-lg-3 w-75"
        src="../../../assets/logoGrande.png"
        alt="logo"
      />
    </div>
  </div>
</div>
<div class="container p-3 scale-in-left">
  <div id="scopriamolo" class="row">
    <div class="col d-flex flex-column align-items-center">
      <h2 class="m-3 p-2 text-center">FUE (Follicular Unit Extraction)</h2>
      <p class="lead p-2 text-center">
        Grazie alle nuove tecniche di microchirurgia FUE è possibile prelevare e
        reimpiantare singoli bulbi dalle zone donatrici (nuca e tempie…) verso
        le aree da rinfoltire. Ciascuna Unità Follicolare, una volta impiantata,
        sarà in grado di generare da 1 a 4 nuovi capelli, donando all’area
        trapiantata un effetto 100% naturale e senza inestetismi di nessun
        genere!
      </p>
    </div>
  </div>
  <div class="w-100 p-5">
    <div class="row p-5">
      <div
        class="col-12 col-lg-6 col-xl-4 my-3 d-flex flex-column align-items-center"
      >
        <h3 class="mb-3 border-bottom text-center">Nessuna Cicatrice</h3>
        <div
          class="card d-flex flex-column align-items-center justify-content-center"
        >
          <h4>
            Grazie alle tecniche microchirurgiche FUE non resterà nessuna
            cicatrice, nè nella zona donatrice nè nella zona ricevente
          </h4>
        </div>
      </div>
      <div
        class="col-12 col-lg-6 col-xl-4 my-3 d-flex flex-column align-items-center"
      >
        <h3 class="mb-3 border-bottom text-center">Nessun Dolore</h3>
        <div
          class="card d-flex flex-column align-items-center justify-content-center"
        >
          <h4>
            L’intervento viene eseguito in anestesia locale, e non si avvertirà
            nessun dolore durante e/o dopo il trapianto
          </h4>
        </div>
      </div>
      <div
        class="col-12 col-lg-6 col-xl-4 my-3 d-flex flex-column align-items-center"
      >
        <h3 class="mb-3 border-bottom text-center">Capelli Permanenti</h3>
        <div
          class="card d-flex flex-column align-items-center justify-content-center"
        >
          <h4>
            Una volta trapiantati i nuovi capelli ricresceranno e saranno
            permanenti, stabili e forti per tutto il resto della vita
          </h4>
        </div>
      </div>
      <div
        class="col-12 col-lg-6 col-xl-4 my-3 d-flex flex-column align-items-center"
      >
        <h3 class="mb-3 border-bottom text-center">No Punti di Sutura</h3>
        <div
          class="card d-flex flex-column align-items-center justify-content-center"
        >
          <h4>
            A differenza delle precedenti tecniche di trapianto, con il metodo
            FUE non sono previsti tagli nella cute del cranio
          </h4>
        </div>
      </div>
      <div
        class="col-12 col-lg-6 col-xl-4 my-3 d-flex flex-column align-items-center"
      >
        <h3 class="mb-3 border-bottom text-center">Nessuna Degenza</h3>
        <div
          class="card d-flex flex-column align-items-center justify-content-center"
        >
          <h4>
            Appena terminato l’intervento già si può rientrare in Hotel, e si
            può tranquillamente riprendere le proprie attività
          </h4>
        </div>
      </div>
      <div
        class="col-12 col-lg-6 col-xl-4 my-3 d-flex flex-column align-items-center"
      >
        <h3 class="mb-3 border-bottom text-center">Naturalezza Totale</h3>
        <div
          class="card d-flex flex-column align-items-center justify-content-center"
        >
          <h4>
            I bulbi verranno innestati uno ad uno, seguendo il naturale
            orientamento, mantenendo così un aspetto al 100% naturale.
          </h4>
        </div>
      </div>
    </div>
    <div class="row mt-5 mb-3 justify-content-center">
      <div class="col-6">
        <h2 class="text-center">Ci sono due fasi</h2>
        <h4 class="text-center">1° Fase & 2° Fase</h4>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-5 mt-3 mx-1 p-1 rounded-3 border shadow-lg">
        <h3 class="mb-0 p-2 text-center">Il Trapianto 1° Fase</h3>
        <h4 class="mb-3 p-2 text-center">FUE</h4>
        <p class="lead px-5">
          La fase di espianto: Dopo aver eseguito una adeguata anestesia locale,
          vengono prelevate le singole unità follicolari utilizzando un Micro
          Punch del diametro di 0,7 millimetri, senza quindi lasciare alcun
          segno e/o cicatrice.
        </p>
        <div class="d-flex align-self-end">
          <img
            src="../../../assets/operazione.jpg"
            alt="imgDellOperazione"
            class="w-100 h-100 p-2 rounded-5 imgTrapianto"
          />
        </div>
      </div>
      <div class="col-12 col-md-5 mt-3 mx-1 p-1 rounded-3 border shadow-lg">
        <h3 class="mb-0 p-2 text-center">Il Trapianto 2° Fase</h3>
        <h4 class="mb-3 p-2 text-center">DHI</h4>
        <p class="lead px-5">
          La fase di impianto: le unità follicolari prelevate nella fase di
          espianto vengono innestate una ad una nell’area da rinfoltire,
          seguendo accuratamente il corretto orientamento dei capelli, in modo
          da ricreare una situazione estetica totalmente naturale.
        </p>
        <div class="d-flex align-self-end">
          <img
            src="../../../assets/imgTrapianto.jpg"
            alt="imgTrapiandoDifferenza"
            class="w-100 h-100 p-2 rounded-5 imgTrapianto"
          />
        </div>
      </div>
    </div>
  </div>
</div>
