<div class="container mt-5">
  <div
    class="row flex-lg-row-reverse align-items-center g-5 py-5 mt-5 mx-0 scale-in-left"
  >
    <div class="col-10 col-sm-8 col-lg-6 d-none d-lg-flex">
      <img
        src="../../../assets/clinic.jpg"
        class="d-block mx-lg-auto img-fluid demo"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6 text-center">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
        Hair Solution Clinic
      </h1>
      <p class="lead">
        La clinica nasce dalla volontà di risolvere il problema della caduta dei
        capelli. Con più di 10 anni di esperienza e migliaia di trapianti
        effettuati Hair Solution Clinic è attualmente una delle realtà più
        innovative nel campo della microchirurgia. Dotata di personale medico
        altamente specializzato e in collaborazione con le migliori cliniche
        europee, Hair Solution è la soluzione definitiva alla caduta dei capelli
        (sia negli uomini che nelle donne) grazie alle ultime tecniche di
        trapianto follicolare.
      </p>
      <div
        class="d-grid gap-2 d-flex justify-content-center align-items-center"
      >
        <a
          class="text-decoration-none btnContattami"
          [routerLink]="['../contatti']"
        >
          CONTATTAMI
          <span></span>
        </a>
        <a
          href="https://www.instagram.com/hairsolutionclinicalbania/"
          target="_blank"
          class="Btn align-self-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="1.5em"
            viewBox="0 0 448 512"
            class="svgIcon"
          >
            <path
              d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
            ></path>
          </svg>
          <span class="text">Instagram</span>
        </a>
      </div>
    </div>
  </div>
  <div class="container px-4 py-5 scale-in-left" id="custom-cards">
    <h2 class="pb-2 border-bottom">Hair Solution Clinic offre</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div
          class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg bg bg1"
        >
          <div
            class="d-flex flex-column justify-content-end h-100 p-5 text-shadow-1"
          >
            <h3 class="pt-5 mt-5 mb-0 display-6 lh-1 fw-bold text-white-50">
              Tecnoligia all'avanguardia
            </h3>
          </div>
        </div>
      </div>

      <div class="col">
        <div
          class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg bg bg2"
        >
          <div
            class="d-flex flex-column justify-content-end h-100 p-5 text-shadow-1"
          >
            <h3 class="pt-5 mt-5 mb-0 display-6 lh-1 fw-bold text-white-50">
              Equipe specializzata
            </h3>
          </div>
        </div>
      </div>

      <div class="col">
        <div
          class="card card-cover hoverflow-hidden text-bg-dark rounded-4 shadow-lg bg bg3"
        >
          <div
            class="d-flex flex-column justify-content-end h-100 p-5 text-shadow-1"
          >
            <h3 class="pt-5 mt-5 mb-0 display-6 lh-1 fw-bold text-white-50">
              Centro Certificato
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div
      class="col-12 col-lg-6 d-flex justify-content-center align-items-center"
    >
      <img
        src="../../../assets/logo-hair-solution-clinic.png"
        class="w-75 m-4"
        alt="logo-hair-solution-clinc"
      />
    </div>
    <div class="col-12 col-lg-6 text-center bgText p-5">
      <h3 class="mb-4 fw-bold">Affidabilità & Garanzia</h3>
      <p>
        Hair Solution Clinic, rilascia alla fine del trapianto un certificato di
        garanzia che assicura che non avrai nessun effetto collaterale causato
        dall’intervento e la ricrescita dei capelli trapiantati entro 12 mesi.
        Se ciò non avviene ti sarà ripetuto l’intervento gratuitamente
      </p>
    </div>
  </div>
  <div class="maps mt-5 mb-0"></div>
</div>
